body {
  margin: 0;
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
}

.page {
  width: 1100px;
  margin: 70px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  
  display: flex;
  gap: 65px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

span {
  color: #00BFA6;
}

section p {
  font-family: 'Open Sans', sans-serif;
}
