body {
  margin: 0;
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
}

.page {
  width: 1100px;
  margin: 70px auto 0;
}

section p {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

span {
  color: #00BFA6;
}
