body {
  margin: 0;
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;

  min-height: 100vh;
}

.page {
  width: 1100px;
  margin: 70px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;

  display: flex;
  gap: 64px;
}

ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

main {
  margin: 100px auto 150px;
  display: flex;
  gap: 82px;
  text-align: center;
}

h1 {
  margin-top: 6px;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

section p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 59px;
  color: #C2C2C2;
  font-weight: 400;
  line-height: 28px;
}

#line {
  margin: 0 auto 27px;
  height: 1px;
  width: 560px;
  background: #00BFA6;
}

footer {
  text-align: center;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;    
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}